
// FONT LEGEND
    // font-family: 'Luckiest Guy', cursive;
    // font-family: 'Muli', sans-serif;

// COLOR LEGEND


.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}


.hero h1 {
    padding-top: 5%;
    color: #000;
    text-align: center;
    margin: 2% 10%;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 3px;
    font-size: 5rem;
    text-shadow: 5px 5px #d9534f;
}

.show-lyrics { 
    text-align: center;
    padding: 2%;
}

.results {
    margin-top: 5%;
    border: 5px solid black;
    border-radius: 25px;
    height: 65vh;
    width: 70%;
    overflow: scroll;
}

.submit {
    text-align: center;
    padding: 2.5% 5% 5% 5%;
}

.reset-button {
    padding: 5% 5% 2.5% 5%;
}

footer p {
    padding: 30px 0px 20px 0px;
    font-family: 'Muli', sans-serif;
    text-align: center;
    color: black;
}

svg {
    width: 250px;
    position: relative;
    bottom: 150px;
    -webkit-filter: drop-shadow(4px 4px 1px rgba(217, 83, 79, 1));       
    
}

.input-style {
    border: none;
    border-bottom: 5px solid #000;
    font-size: 2rem;
    width: calc(50% - 20px);
    margin: 10px;
    background: none;
    font-family: "Muli", sans-serif;
}

.input-style:focus {
    border: 5px solid #000;
}

.input-style::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.input-style:hover::after{
    width: 100%;
}

.lyrics {
    white-space: pre-line;
    font-family: 'Muli', sans-serif;
    font-size: 1.6rem;
}

#get-lyrics, 
#reset-form {
    color: #000;
    text-transform: uppercase;
    background: none;
    padding: 20px 20px 15px 20px;
    border: 4px solid #000;
    border-radius: 6px;
    display: inline-block;
    font-size: 2rem;
    font-family: "Luckiest Guy", cursive;

}

#get-lyrics:hover,
#reset-form:hover,
#get-lyrics:focus,
#reset-form:focus {
    box-shadow: 5px 5px #d9534f;
    text-shadow: 5px 5px #d9534f;
    transition: all 0.8s ease 0s;
}



// https://codepen.io/P1N2O/pen/pyBNzX ANIMATION FOR BACKGROUND HELP

body {
	width: 100wh;
	height: 90vh;
	color: #fff;
    background: linear-gradient(-45deg, rgb(233, 134, 104), rgb(201, 93, 146), rgb(71, 171, 207), rgb(69, 206, 174));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.lyrics {
    color: #000;
    font-family: "Muli", sans-serif;
    padding: 0 3%;
}

.input-style {
    margin-bottom: 2%;
}

form {
    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        width: 100%;
        justify-content: center;
        align-items: center;
        label {
            width: 100%;
            width: calc(50% - 20px);
            font-family: "Muli", sans-serif;
            color: black;
            font-size: 1.4rem;
        }
    }
}

input:focus + label {
    color: black;
    top: -25px;
    left: 100px;
    font-size: 1rem;
}

.lyric-search {
    display: flex;
    justify-content: space-around;
    margin: 0 3%;
}

.input-style {
    width: 90%;
}