// SITE STYLING DEFAULTS

*  {
    padding: 0;
    margin: 0;  
}

html {
    font-size: 125%;
    scroll-behavior: smooth;
}

.wrapper {
    margin: 0 auto;      
    max-width: 1600px;
}

img {
    width: 100%;
}

 .skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: #FFF;
    color: #000;
}

.skip-link:focus {
    left: 0;
}

.visually-hidden:not(:focus):not(:active) { 
	position: absolute; 
	width: 0px; 
	height: 1px; 
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(00 0 0);
	overflow: hidden;
}

form {
    div {
        margin-bottom: 25px;
        width: 100%;
        position: relative;
        left: 0;
        bottom: 0;
        // border: 1px solid black;
        label {
            position: absolute;
            bottom: 0;
            left: 17%;
            font-size: 2rem;
            width: calc(50% - 20px);
            font-family: "Muli", sans-serif;
            color: black;
        }
    }
}

input:focus + label,{
    color: black;
    top: -25px;
    left: 100px;
    font-size: 1rem;
}
