@media (max-width: 1200px) {
    svg {
        width: 220px;
        bottom: 130px;
    }

    .lyric-search {
        margin: 0;
    }
}

@media (max-width: 1040px) {

    .hero h1 {
        font-size: 4rem;
    }

    .input-style,
    #get-lyrics,
    #reset-form,
    p.lyrics {
        font-size: 1.8rem;
    }

    svg {
        width: 180px;
        bottom: 90px;
    }

}

@media (max-width: 860px) {
    .hero h1 {
        font-size: 3rem;
    }

    .input-style,
    #get-lyrics,
    #reset-form,
    p.lyrics {
        font-size: 1.4rem;
    }

    .results {
        width: 85%;
    }

    .input-style {
        width: 65%;
    }

     svg {
        display: none;
    }
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 2.4rem;
    }

    .input-style,
    #get-lyrics,
    #reset-form,
    p.lyrics {
        font-size: 1.2rem;
    }

   
}

@media (max-width: 470px) {

    .hero h1 {
        font-size: 2.2rem;
    }

    form div label {
        font-size: 1rem;
    }
}