.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0; }

.hero h1 {
  padding-top: 12%;
  text-align: center;
  margin: 5% 20%;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 3px;
  font-size: 6rem; }

.show-lyrics {
  text-align: center;
  padding: 2%; }
  .show-lyrics input {
    background: blue; }

.results {
  margin-top: 5%;
  border: 5px solid black;
  border-radius: 25px;
  height: 75vh;
  width: 75%;
  overflow: scroll; }

.submit {
  text-align: center;
  padding: 5%; }

footer {
  text-align: center; }

svg {
  width: 150px; }

.input-style {
  border: none;
  border-bottom: 5px solid #F00;
  font-size: 2rem;
  width: calc(50% - 20px);
  margin: 0 10px; }

.input-style::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s; }

.input-style:hover::after {
  width: 100%; }

.lyrics {
  white-space: pre-line;
  font-family: 'Muli', sans-serif;
  font-size: 1.6rem; }

input .submit {
  background: blue; }
